.fadeOut {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.slideIn {
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
}

.slideInOpen {
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
